@{
    ViewData["Title"] = "Calculator";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    <p>I've created a nifty little calculating option that works perfect for figuring out my rates! Please feel free to experiment below.'</p><br />
    <div>
        <label>How many hours do you desire to practice?</label><input type="number" id="HoursPaid" min="0" /><br />
        <span id="HoursError" style="color: red;"></span>

    </div><br />
    <div>
        <label>My Hourly Rate:</label>
        <input type="text" id="hourlyRate" value="$30" readonly />
    </div><br />
    <div>
        <button id="Calculate">Find total!</button>
    </div><br />
    <p id="MoneyOutput"></p>

    <script>
        $(document).ready(function () {
            $('#Calculate').click(function () {
                // Clear any previous errors
                $('#HoursError').text('');

                var hours = parseFloat($('#HoursPaid').val());

                // throws an error if it doesn't fit the criteria. 
                if (isNaN(hours) || hours < 0) {
                    $('#HoursError').text('Please enter a positive number.');
                    return;
                }

                // takes the hourly rate and runs through the appropriate function.
                var hourlyRate = parseFloat($('#hourlyRate').val().replace('$', ''));
                var total = hours * hourlyRate;

                // assigns to an output
                $('#MoneyOutput').text('$' + total.toFixed(2) + " is how much it would cost you!");
            });
        });
    </script>
</div>
