@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Piano Mastery Academy: Unlock Your Musical Potential with Expert Instruction</h3>
    <p>Hello. My name is Oliver Escobar, and I am a professional piano player. I have been playing for several years. I competed for 7 years and was able to earn high remarks on my performances, invited to multiple recitals, and won the state title for North Carolina two years in a row. I am exceptionally patient and a great teacher. I'd love to offer my services to you and for anyone.</p>
    <img src="/random_girl_lessons.jpg" height="500px"/>
    <p>This is a photo I found online, but it perfectly encompasses what I have in mind for when I begin to teach! I have always wanted to teach multiple students and enroll them in a studio. I once taught piano when I was younger, but ran into several errors, including finding music books for my student or enrolling myself as part of the UMTA here in Utah. Planning a recital is no easy feat either. It is quite difficult.</p>
    <img src="/weird_three_handed_girl.jpeg" height="600px" />
    <p>This image above is a fun little image I found on an AI website. I think it is quite funny to look at considering this little girl has three hands and is playing the piano and not the keys. I love talking about this image because to think of playing the piano with three hands is so amazing.</p>
</div>
